<!-- views/landing.ejs -->
<!doctype <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>API Landing Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Ekky Defa Rizkyan">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    
 <!-- Page Content -->
 <div class="container align-middle">
    <div class="row">
      <div class="col-lg-12 text-center">
          <img src="http://localhost:5000/Liftoff.png">
        <h1 class="mt-5">All Function Running, We Have A Liftoff!</h1>
        <p class="lead">For further usage, check our documentation</p>
      </div>
    </div>
  </div>

</body>
</html>